@import '../head.styl'
.header
	.header-title
		color #323232

.info_cells
	background-color #fff
	margin-top 10px
	.info-cell
		display flex
		padding 0 12px
		line-height 40px
		border-bottom 1px solid #d6d7dc
		.info-name
			flex 4
			font-size 1em
			color #646464
			font-size 14px
		.info-content
			flex 7
			text-indent 10px
			font-size 14px
		.head
			background url(../../img/geren.png) no-repeat left 3px
			background-size 15%
	.image-cell
		display flex
		flex-direction row
		flex-wrap nowrap
		justify-content space-between
		padding 0 15px
		padding-top 22px
		.image-block
			.box-img
				width 100px
				height 64px
				background #878787
				border-radius 5px
			.title
				margin 0
				line-height 30px
				text-align center
				color #646464
				font-size 14px


