<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initisl-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>Title</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/index/index.css">
</head>
<body>
	<header class="header">
		<i class="icon-back">上海</i>
		<span class="header-title">安居客</span>
	</header>
	<div class="search_box">
		<div class="search_input">
			<i class="icon-search"></i>
			<span>挑好房，上安居客</span>
		</div>
	</div>
	<div class="slider_box">
		<div class="slider_container">
			<div class="slider_block"></div>
			<div class="slider_block"></div>
			<div class="slider_block"></div>
			<div class="slider_block"></div>
		</div>
		<div class="point_box">
			<span class="point_block active"></span><span class="point_block"></span><span class="point_block"></span><span class="point_block"></span>
		</div>
	</div>
	<div class="query_box">
		<div class="query_block">
			<span class="text">区域</span>
			<i class="icon"></i>
		</div>
		<div class="query_block">
			<span class="text">面积</span>
			<i class="icon"></i>
		</div>
		<div class="query_block active">
			<span class="text">单价</span>
			<i class="icon"></i>
		</div>
		<div class="query_block">
			<span class="text">更多</span>
			<i class="icon"></i>
		</div>
		<div class="query_price">
			<i class="icon"></i>
		</div>
	</div>
	<article class="overdue-list">
		<section class="overdue-cell">
			<div class="overdue-img">
				<img src="../public/img/content_img_list@2x.png" alt="" width="128">
			</div>
			<div class="overdue-con">
				<h4>东方金融中心</h4>
				<p>浦东-八佰伴</p>
				<div class="overdue-btn">商务中心</div>
				<p><span class="overdue-price">￥7</span> 元/平米/天起</p>
			</div>
			<div class="overdue-tips">
				<span class="collect"></span>
				<p class="overdue-time">佣金：1个月</p>
			</div>
		</section>
		<section class="overdue-cell">
			<div class="overdue-img">
				<img src="../public/img/content_img_list@2x.png" alt="" width="128">
			</div>
			<div class="overdue-con">
				<h4>东方金融中心</h4>
				<p>浦东-八佰伴</p>
				<div class="overdue-btn">商务中心</div>
				<p><span class="overdue-price">￥7</span> 元/平米/天起</p>
			</div>
			<div class="overdue-tips">
				<span class="collect"></span>
				<p class="overdue-time">佣金：1个月</p>
			</div>
		</section>
	</article>
	<div class="toTop"></div>

	<footer class="footer">
		<div class="footer-block active">
			<i class="footer-icon"></i>
			<span class="footer-name">首页</span>
		</div>
		<div class="footer-block">
			<i class="footer-icon order"></i>
			<span class="footer-name">预约</span>
		</div>
		<div class="footer-block">
			<em class="publish-icon"></em>
		</div>
		<div class="footer-block">
			<i class="footer-icon news"></i>
			<span class="footer-name">信息</span>
		</div>
		<div class="footer-block">
			<i class="footer-icon info"></i>
			<span class="footer-name">我</span>
		</div>
	</footer>
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script src="../public/js/index/index.js"></script>
</body>
</html>