<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initisl-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>Title</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/info_overdue.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" ontouchend="javascript:history.back()"></i>
		<span class="header-title">我发布的房源</span>
	</header>

	<article class="overdue-list">
		<section class="overdue-cell">
			<div class="overdue-img">
				<img src="../public/img/content_img_list@2x.png" alt="" width="128">
			</div>
			<div class="overdue-con">
				<h4>东方金融中心</h4>
				<p>浦东-八佰伴</p>
				<div class="overdue-btn">商务中心</div>
				<p><span class="overdue-price">￥7</span> 元/平米/天起</p>
			</div>
			<div class="overdue-tips">
				<p class="overdue-time">佣金：1个月</p>
			</div>
		</section>
		<section class="overdue-cell">
			<div class="overdue-img">
				<img src="../public/img/content_img_list@2x.png" alt="" width="128">
			</div>
			<div class="overdue-con">
				<h4>东方金融中心</h4>
				<p>浦东-八佰伴</p>
				<div class="overdue-btn">商务中心</div>
				<p><span class="overdue-price">￥7</span> 元/平米/天起</p>
			</div>
			<div class="overdue-tips">
				<p class="overdue-time">佣金：1个月</p>
			</div>
			<span class="delete">删除</span>
		</section>
	</article>

	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script>
		$('.overdue-cell').on('swipeLeft', function(){
			$(this).css('left', '-65px')
			$('.delete' ).show();
			$('.delete' ).on('tap', function(){
				alert('确定删除')
			})
		})
	</script>
</body>
</html>