<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scable=no">
	<title>项目名-公司名</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/info_edit.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" ontouchend="javascript:history.back()"></i>
		<span class="header-title">个人资料</span>
	</header>

	<div class="info_cells">
		<div class="info-cell">
			<span class="info-name">头像</span>
			<span class="info-content head"></span>
		</div>
		<div class="info-cell">
			<span class="info-name">简介</span>
			<span class="info-content"><input type="text" value="以前喜欢一个人，现在喜欢一个人"></span>
		</div>
		<div class="info-cell">
			<span class="info-name">企业邮箱/公司总机</span>
			<span class="info-content"><input type="text" value="823546415@qq.com"></span>
		</div>
		<div class="info-cell">
			<span class="info-name">联系人</span>
			<span class="info-content"><input type="text" value="张三"></span>
		</div>
		<div class="info-cell">
			<span class="info-name">联系方式</span>
			<span class="info-content"><input type="text" value="18956024163"></span>
		</div>
		<div class="info-cell">
			<span class="info-name">微信号码</span>
			<span class="info-content"><input type="text" value="18956024163"></span>
		</div>

		<div class="image-cell">
			<div class="image-block">
				<div class="box-img"></div>
				<p class="title">微信二维码</p>
			</div>
			<div class="image-block">
				<div class="box-img"></div>
				<p class="title">营业执照</p>
			</div>
			<div class="image-block">
				<div class="box-img"></div>
				<p class="title">租售代理协议</p>
			</div>
		</div>
	</div>
	<div class="mask"></div>
	<div class="upload-box">
		<ul>
			<li>拍照</li>
			<li><input type="file" class="file">从相册选择</li>
			<li class="cancel">取消</li>
		</ul>
	</div>

	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script src="../public/js/info/edit.js"></script>
</body>
</html>