<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>粤淘网 - 南京鸿鸣网络科技有限公司</title>
	<meta name="keywords" content="南京鸿鸣网络科技有限公司"/>
	<meta name="description" content="南京鸿鸣网络科技有限公司是一家互联网制作及设计的现代设计公司
    鸿鸣网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，鸿鸣网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/info_publish02.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" ontouchend="javascript:history.back()"></i>
		<span class="header-title">我发布的需求</span>
	</header>
	<article class="demand-cells">
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">一个新的租房需求</span>
				<i class="d-t-time">08/04/13:06</i>
			</div>
			<p class="demand-info">
				需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m2/天左右，附近有地铁
			</p>
			<div class="demand-footer">
				<span class="btn-detail">了解详情</span>
			</div>
		</section>
	</article>


</body>
</html>