<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>Title</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/info_publish02.css">
</head>
<body>
	<header class="header">
		<i class="icon-back" ontouchend="javascript:history.back()"></i>
		<span class="header-title">我发布的需求</span>
	</header>
	<article class="demand-cells">
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">一个新的租房需求</span>
				<i class="d-t-time">08/04/13:06</i>
			</div>
			<p class="demand-info">
				需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m2/天左右，附近有地铁
			</p>
			<div class="demand-footer">
				<span class="btn-detail">了解详情</span>
			</div>
		</section>
	</article>


</body>
</html>