<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initisl-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>Title</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/info/info_agent.css">
</head>
<body>
	<header class="header">
		<span class="header-title">我</span>
		<i class="icon-setting"></i>
	</header>
	<div class="login_box">
		<div class="login_img"></div>
		<div class="login_con">
			<p class="login_name">呱呱呱叫</p>
			<p class="login_edit">修改资料</p>
		</div>
	</div>
	<div class="s_box">
		<div class="s_left"><span class="count">64</span><span class="title"> 收藏</span></div>
		<div class="s_right"><span class="count">624</span><span class="title"> 积分</span></div>
	</div>

	<div class="link_cell">
		<span>我发布的需求</span>
	</div>
	<div class="link_cell cell_two">
		<span>我发布的房源</span>
	</div>
	<div class="link_cell cell_three">
		<span>我预约的房源</span>
	</div>
	<div class="link_cell cell_four">
		<span>历史交易</span>
	</div>
	<div class="link_cell cell_five">
		<span>过期房源</span>
	</div>
</body>
</html>