<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>Title</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/order/order.css">
</head>
<body>
	<header class="header">
		<span class="header-title">预约</span>
	</header>

	<article class="order-list">
		<section class="order-cell">
			<div class="order-img">
				<img src="../public/img/content_img@2x.png" alt="" width="100">
			</div>
			<div class="order-con">
				<div class="order-title"><span>先生/女士您好：</span><span class="order-time">08/03/16:02</span></div>
				<div class="order-text">我想看<span>【京德大楼】</span>的房源，请帮我安排，地址是常德路319号。</div>
				<div class="house-time">看房时间：08/08</div>
			</div>
			<div class="order-btn">接单</div>
		</section>
		<section class="order-cell">
			<div class="order-img">
				<img src="../public/img/content_img@2x.png" alt="" width="100">
			</div>
			<div class="order-con">
				<div class="order-title"><span>先生/女士您好：</span><span class="order-time">08/03/16:02</span></div>
				<div class="order-text">我想看<span>【京德大楼】</span>的房源，请帮我安排，地址是常德路319号。</div>
				<div class="house-time">看房时间：08/08</div>
			</div>
			<div class="order-btn">接单</div>
		</section>
		<section class="order-cell">
			<div class="order-img">
				<img src="../public/img/content_img@2x.png" alt="" width="100">
			</div>
			<div class="order-con">
				<div class="order-title"><span>先生/女士您好：</span><span class="order-time">08/03/16:02</span></div>
				<div class="order-text">我想看<span>【京德大楼】</span>的房源，请帮我安排，地址是常德路319号。</div>
				<div class="house-time">看房时间：08/08</div>
			</div>
			<div class="order-btn">接单</div>
		</section>
		<section class="order-cell">
			<div class="order-img">
				<img src="../public/img/content_img@2x.png" alt="" width="100">
			</div>
			<div class="order-con">
				<div class="order-title"><span>先生/女士您好：</span><span class="order-time">08/03/16:02</span></div>
				<div class="order-text">我想看<span>【京德大楼】</span>的房源，请帮我安排，地址是常德路319号。</div>
				<div class="house-time">看房时间：08/08</div>
			</div>
			<div class="order-btn">接单</div>
		</section>
	</article>
	<footer class="footer">
		<div class="footer-block index-icon">
			<i class="footer-icon"></i>
			<span class="footer-name">首页</span>
		</div>
		<div class="footer-block order-icon active">
			<i class="footer-icon order"></i>
			<span class="footer-name">预约</span>
		</div>
		<div class="footer-block publish_icon">
			<em class="publish-icon"></em>
		</div>
		<div class="footer-block news-icon">
			<i class="footer-icon news"></i>
			<span class="footer-name">信息</span>
		</div>
		<div class="footer-block info-icon">
			<i class="footer-icon info"></i>
			<span class="footer-name">我</span>
		</div>
	</footer>

	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script src="../public/js/index/index.js"></script>

</body>
</html>