@import '../head.styl'
input
	border none
	outline none
	font-family Microsoft Yahei
.header
	.icon-back
		background transparent
		text-indent 1em
	.header-title
		color #323232
	.header-publish
		color #ea5404
		padding-right 15px

.form-cells
	.form-cell
		padding 0 15px
		margin-top 10px
		.form-input
		.form-area
			width 95%
			height 40px
			line-height 40px
			background-color #fff
			border 1px solid #d6d7dc
			border-radius 5px
			padding-left 5%
			font-size 14px
		.form-area
			height 300px
			line-height 24px
			padding-top 10px
			font-family Microsoft Yahei

.mask
	display none
	width 100%
	height 100%
	background rgba(0,0,0,0.5)
	position absolute
	top 0
	right 0
	left 0
	bottom 0

.cancel-alert
	display none
	width 270px
	height 105px
	background #fff
	border-radius 10px
	position absolute
	left 50%
	top 50%
	margin-top -53px
	margin-left -135px
	text-align center
	.title
		height 62px
		line-height 62px
		border-bottom 1px solid #e1e1e1
		margin 0
		font-size 14px
	.confirm
		color #ea5404
		display flex
		span
			flex 1
		.cancel
			position relative
			color #646464
			&:after
				content ''
				width 1px
				height 40px
				line-light 40px
				background-color #d6d7dc
				position absolute
				right 0
				top -16px