<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initisl-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>Title</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/msg/msg_notice.css">
</head>
<body>
	<header class="tab-box">
		<ul class="tab-bar">
			<li class="tab-bar-cell news">消息</li>
			<li class="tab-bar-cell active notice">通知</li>
			<li class="tab-bar-cell demand">需求<span class="num">3</span></li>
		</ul>
	</header>

	<article class="demand-cells">
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">房源维护提示</span>
				<i class="d-t-time">08/04/13:06</i>
			</div>
			<p class="demand-info">
				您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。
			</p>
			<p class="demand-footer">地址：徐汇-龙华-科技大厦</p>
		</section>
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">房源维护提示</span>
				<i class="d-t-time">08/04/13:06</i>
			</div>
			<p class="demand-info">
				您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。
			</p>
			<p class="demand-footer">地址：徐汇-龙华-科技大厦</p>
		</section>

	</article>
	<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
	<script src="../public/libs/zepto/touch.js"></script>
	<script src="../public/js/msg/msg.js"></script>
</body>
</html>