<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initisl-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<title>Title</title>
	<link href="http://cdn.bootcss.com/normalize/5.0.0/normalize.css" rel="stylesheet">
	<link rel="stylesheet" href="../../public/css/msg/msg_news.css">
</head>
<body>
	<header class="tab-box">
		<ul class="tab-bar">
			<li class="tab-bar-cell active">消息</li>
			<li class="tab-bar-cell">通知</li>
			<li class="tab-bar-cell demand">需求<span class="num">3</span></li>
		</ul>
	</header>

	<article class="demand-cells">
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦!</span>
			</div>
			<p class="demand-info">
				霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？
			</p>

			<p class="demand-time">08/04/13:06</p>
		</section>
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦!</span>
			</div>
			<p class="demand-info">
				霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？
			</p>

			<p class="demand-time">08/04/13:06</p>
		</section>
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦!</span>
			</div>
			<p class="demand-info">
				霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？
			</p>

			<p class="demand-time">08/04/13:06</p>
		</section>
		<section class="demand-cell">
			<div class="demand-title">
				<span class="d-t-name">你眼中“醉美夜滨江”摄影征集启动啦!</span>
			</div>
			<p class="demand-info">
				霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？
			</p>

			<p class="demand-time">08/04/13:06</p>
		</section>


	</article>
	<script src="../../public/js/msg.js"></script>
</body>
</html>